<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ISP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F9679A21DF1C0B3006D2820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9679BC1DF1C0B4006D2820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9679C71DF1C0B4006D2820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
